.elements {
    max-width: 880px;
    min-height: calc(100vh - 80px);
    margin: 0 auto 66px;
}


@media screen and (max-width: 890px) {
  .elements {
    margin: 0 19px 48px;
    max-width:  calc(880px - 19px*2);
  }
}
