.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../../images/popup__close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  cursor: pointer;
  transition: .7s;
}

.popup__close:hover {
  opacity: 0.6;
}
