.elements__like {
  background-image: url(../../../images/elements__like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 19px;
  cursor: pointer;
  margin: 0 5px 0 0;
  border: none;
  background-color: #fff;
  transition: .2s;
  box-sizing: border-box;
}

.elements__like:hover {
  opacity: 0.5;
}

.elements__like:active {
  background-image: url(../../../images/elements__like-active.svg);
  opacity: 1;
}
