.elements__like {
  background-image: url(../../../images/elements__like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  margin: 0 5px 0 0;
  border: none;
  background-color: #fff;
  transition: .2s;
  padding: 0;
}

.elements__like:hover {
  opacity: 0.5;
}
