.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 336px;
}

@media screen and (max-width: 680px) {
  .profile__info {
    flex-direction: columns;
    justify-content: center;
    width: 282px;
    margin-top: 26px;
    margin-bottom: 36px;
  }
}
